@use '../custom' as *;
@use '../components/mixins' as *;
body {
    background-color: $bg-color;
}
.group {
    .group__item {
        .cta {
            color: $dark-green;
            padding-top: 3.438em;
            padding-bottom: 2.875em;
            padding-left: 1em;
            padding-right:1em;
            // svg {
            //     margin-top:-10px;
            // }
            @include media-breakpoint-up(lg) {
                padding-top: 9.375em;
                padding-bottom: 3.75em;
                // svg {
                //     display: none;
                // }
            }
        }
        .logo {
            height: 40em;
            background-color: red;
            // img {
            //     // height: 37.5em;
            //     // width: 40em;
            // }
            @include media-breakpoint-up(lg) {

            }
        }
        .sideform {
            color: $white;
            form {
                padding: 0 2.5em 0 2.5em;
                // background-color: red;
                .form-group {
                    padding: 0.5rem 0 0.5rem 0;
                }
                .form-control {
                    border-radius: 0;
                    height: 1.875em;
                }
                .form-button {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                .buton-classs {
                    text-align: right;
                }
                .fork-img {
                    width: 75px;
                }

            }
            @include media-breakpoint-up(lg) {
                form {
                    padding: 0 6em 0 6em;
                    .form-group {
                        padding-bottom: 1em;
                        .form-control {
                            height: 30px;
                        }
                    }

                    .fork-img {
                        width: 100px;
                    }

                }
            }
        }
        .list {
            // background-color: red;
            color: $dark-green;
            padding-top: 3.438em;
            padding-bottom: 2.938em;
            padding-left: 5.25em;
            padding-right: 5em;
            @include media-breakpoint-up(lg) {
                // padding-top: 9.375em;
                // padding-bottom: 3.75em;
                svg {
                    display: none;
                }
            }
        }
    }
    .group__itemL {
        padding: 2em;
        background-color: $light-green;
    }
}