@use '../custom' as *;

.group__title {
    font-family: 'CamdenSlab-400';
    font-weight: 100;
    padding: 1rem;
    font-size: 0.875rem;
    span {
        font-family: 'CamdenSlab';
        font-weight: 900;
    }
    a {
        font-family: 'CamdenSlab';
        font-weight: 900;
        color: $dark-green;
    }
    @include media-breakpoint-up(lg) {
        font-size: 1.7rem;
    }
}

.group__form__title {
    font-family: 'CamdenSlab';
    font-weight: 900;
    padding: 2rem;
    font-size: 0.875rem;
    @include media-breakpoint-up(lg) {
        font-size: 1.2rem;
    }
}

.group__form__subtitle {
    font-family: 'CamdenSlab-400';
    font-weight: 900;
    font-size: 0.875rem;
    span {
        font-family: 'CamdenSlab';
        font-weight: 900;
    }
    @include media-breakpoint-up(lg) {
        display: none;
    }
}

.form-group {
    font-family: 'Roboto';
    font-weight: 900;
    text-align: left;
    font-size: small;
    .form-control {
        color: $dark-green;
        font-weight: bold;
    }
    @include media-breakpoint-up(lg) {
        font-size: medium;
    }
}

.form-check {
    text-align: left;
}

.form-notes {
    text-align: left;
    .remark {
        font-size: small;
    }
}

@font-face {
    font-family: 'CamdenSlab';
    src: url('../../assets/webfonts/CamdenSlab-700.woff2') format('woff2'),
         url('../../assets/webfonts/CamdenSlab-700.woff') format('woff');
}

@font-face {
    font-family: 'CamdenSlab-400';
    src: url('../../assets/webfonts/CamdenSlab-400.woff2') format('woff2'),
         url('../../assets/webfonts/CamdenSlab-400.woff') format('woff');
}
